{% extends 'employee_register/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form class="needs-validation" action="" method="post" autocomplete="off" novalidate>
    {% csrf_token %}
    <div style="margin-bottom: .5rem;">
        {{ form.fullname | as_crispy_field }}
    </div>
    <div style="margin-bottom: .5rem;">
        {{ form.mobile | as_crispy_field }}
    </div>
    <div class="row" style="margin-bottom: .7rem;">
        <div class="col-md-4">
            {{ form.emp_code | as_crispy_field }}
        </div>
        <div class="col-md-8">
            {{ form.position | as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    
</form>
{% endblock content %}